   # Dictionaries, Tuples,

# Tuples

<div dir = "rtl">
    
    
    
تاپل‌ها یا چندتایی‌ها مشابه لیست‌ها که در جلسه گذشته آمد گونه‌هایی از ساختار داده هستند که ویژگی‌های زیر را دارند:
    
    - تغییر ناپذیرند
    
    - مرتبند
    
    - بدلیل ایندکس پذیری می‌توانند دارای ایتم‌هایی مشابه با ایندکس متفاوت باشند
    
    - بخاطر داشتن ایندکس می‌توان اعضای تاپل را فراخواند
</div>

In [1]:
my_list = ["apple", "banana", "cherry"]
my_list[1] = "blueberry"  # تغییر پذیر بودن لیست
print(my_list)

['apple', 'blueberry', 'cherry']

In [2]:
my_tuple = ("apple", "banana", "cherry")
my_tuple[1] = "blueberry"  # تغییر ناپذیر بودن تاپل
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [10]:
my_list.append("cucumber") #قابل تغییر بود لیست
print(my_list)

my_tuple.append("cucumber") #تغییر ناپذیر بودن تاپل 
print(my_tuple)

['apple', 'banana', 'cherry', 'apple', 'cherry', 'cucumber']

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
my_list = ["apple", "banana", "cherry", "apple", "cherry"]
print(my_list)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [4]:
my_tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(my_tuple)  # Output: ('apple', 'banana', 'cherry', 'apple', 'cherry')

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [8]:
print(my_tuple[2], my_list[2], my_tuple[4], my_list[4]) #به ایندکس‌ها توجه کنید

cherry cherry cherry cherry

In [124]:
my_list = ["apple", "banana", "cherry", "apple", "cherry"]

# بدست آوردن ایندکس
index = my_list.index("cherry")
print(f"The index of 'cherry' is {index}.")

The index of 'cherry' is 2.

In [125]:
indices = [i for i, x in enumerate(my_list) if x == "apple"]
print(f"The indices of 'apple' are {indices}.") 
# بدست آوردن تمام ایندکس های یک ایتم حتی در صورت تکراری بودن

The indices of 'apple' are [0, 3].

In [126]:
my_list = ["apple", "banana", "cherry", "apple", "cherry"]

for index, value in enumerate(my_list):
    print(f"The value at index {index} is {value}.")

The value at index 0 is apple.
The value at index 1 is banana.
The value at index 2 is cherry.
The value at index 3 is apple.
The value at index 4 is cherry.

In [127]:
my_tuple = ("apple", "banana", "cherry", "apple", "cherry")
index = my_tuple.index("cherry")
print(f"The index of 'cherry' is {index}.")

The index of 'cherry' is 2.

In [128]:
indices = [i for i, x in enumerate(my_tuple) if x == "apple"]
print(f"The indices of 'apple' are {indices}.") 
# بدست آوردن تمام ایندکس های یک ایتم حتی در صورت تکراری بودن

The indices of 'apple' are [0, 3].

In [130]:
my_tuple = ("apple", "banana", "cherry", "apple", "cherry")

for index, value in enumerate(my_tuple):
    print(f"The value at index {index} is {value}.")

The value at index 0 is apple.
The value at index 1 is banana.
The value at index 2 is cherry.
The value at index 3 is apple.
The value at index 4 is cherry.

<div dir = "rtl">

## می‌توان در یک لیست، تاپل‌ ایجاد کرد
</div>

In [113]:
Countries_GDP = [("USA", 25.463), ("China", 17.963), ("Japan", 4.231), ("Germany", 4.072), ("India", 3.385)]
print(Countries_GDP)

[('USA', 25.463), ('China', 17.963), ('Japan', 4.231), ('Germany', 4.072), ('India', 3.385)]

In [114]:
Countries_GDP[4] #accessing data

('India', 3.385)

In [118]:
for country, GDP in Countries_GDP: #تفکیک دو داده و پرینت گرفتن جداگانه
    print(f"The GDP of {country} is {gdp} trillion USD.")

The GDP of USA is 3.385 trillion USD.
The GDP of China is 3.385 trillion USD.
The GDP of Japan is 3.385 trillion USD.
The GDP of Germany is 3.385 trillion USD.
The GDP of India is 3.385 trillion USD.

In [121]:
for i, k in Countries_GDP: #تفکیک دو داده و پرینت گرفتن جداگانه
    print(f"The GDP of {country} is {gdp} trillion USD.") 
#چون آخرین مقدار تعریف شده برای متغیرها هند و جی دی پی اش بوده پرینت می‌شود

The GDP of India is 3.385 trillion USD.
The GDP of India is 3.385 trillion USD.
The GDP of India is 3.385 trillion USD.
The GDP of India is 3.385 trillion USD.
The GDP of India is 3.385 trillion USD.

In [122]:
for i, k in Countries_GDP: #تفکیک دو داده و پرینت گرفتن جداگانه
    print(f"The GDP of {i} is {k} trillion USD.")

The GDP of USA is 25.463 trillion USD.
The GDP of China is 17.963 trillion USD.
The GDP of Japan is 4.231 trillion USD.
The GDP of Germany is 4.072 trillion USD.
The GDP of India is 3.385 trillion USD.

In [87]:
Countries_GDP.sort(key=lambda x: x[1], reverse=False)
print(Countries_GDP)

[('India', 3.385), ('Germany', 4.072), ('Japan', 4.231), ('China', 17.963), ('USA', 25.463)]

In [23]:
def get_gdp(country_name):
    for country, gdp in Countries_GDP:
        if country == country_name:
            return gdp
    return None

country = (input(" Please enter the name of the country to get its GDP value"))
output = get_gdp(country)
print(output)

 Please enter the name of the country to get its GDP value Japan

4.231

<div dir = "rtl">
  
    
# در باب تابع‌های بی نام    
</div>

<div dir = "rtl">
    
در پایتون، از 
key = lamda
در تابع هایی مانند 
sort(), sorted(), min(), max()
و غیره استفاده می‌شود تا تابعی از یک متغیر برای ترتیب دادن و مرتب کردن ایجاد شود. 
کلمه 
lamda
 در پایتون برای ساخت توابع بی نام یا بدون استفاده می‌شود. این توابع فقط از یک عبارت تشکیل شده ولی می‌توانند چندین آرگومان داشته باشند
</div>

In [26]:
Countries_GDP = [("USA", 25.463), ("China", 17.963), ("Japan", 4.231), ("Germany", 4.072), ("India", 3.385)]

Countries_GDP.sort(key=lambda x: x[1], reverse = False)

print(Countries_GDP)

[('India', 3.385), ('Germany', 4.072), ('Japan', 4.231), ('China', 17.963), ('USA', 25.463)]

<div dir = "rtl">

در کد بالا، 
key = lamda x: x[1]
تابعی است که آرگومان
x
را که در اینجا یک تاپل است می‌گیرد و 
x[1]
را باز می‌گرداند. که
x[1]
عنصر دوم تاپل که مقدار 
GDP 
است می‌باشد. 
تابع 
sort()
از این تابع
key
استفاده می‌کند تا چگونگی مرتب سازی تاپل مشخص شود. 
آرگومان
reverse = False
در اینجا یعنی از کمترین به بیشترین. و در کل اینکه 
x[1]
یعنی با توجه به عنصر دوم تاپل مرتب سازی انجام می‌شود. 
</div>

In [28]:
add = lambda x, y, z: x + y + z

result = add(1, 2, 3)  
print(result)

6

<div dir = "rtl">
    
در کد بالا تابع لامبدا فقط یک عبارت را اجرا می‌کند که آن جمع آرگومان‌های تعریف شده برای تابع است.
</div>

In [32]:
Countries_GDP [3] #عنصر سوم لیست

('China', 17.963)

In [31]:
Countries_GDP [3] [1] #عنصر دوم تاپل که خود عنصر سوم لیست است

17.963

In [34]:
country_GDP = ('china', 17.963) #استفاده از تابع برای ساخت دو متغیر

In [36]:
(country, GDP) = country_GDP
print(country_GDP)

('china', 17.963)

In [37]:
print(country)

china

In [38]:
print(GDP)

17.963

In [41]:
nums = (1,2,3,4,5,6,7,8,9)
print(max(nums))
print(min(nums))

9
1

# Dictionaries

In [88]:
phonebook = {"emmaa" : 1234, "Daniel" : 3456, "Hannah" : 6789} #key:value
print(phonebook)

{'emmaa': 1234, 'Daniel': 3456, 'Hannah': 6789}

In [89]:
numbook = {"emma" : "1234", "Daniel" : "3456", "Hannah" : "6789"} #key:value
print(numbook)

{'emma': '1234', 'Daniel': '3456', 'Hannah': '6789'}

In [92]:
phonebook["emmaa"] #calling the key

1234

In [49]:
numbook["laura"] = 12545 #adding to dictionary
print(numbook)

{'emma': '1234', 'Daniel': '3456', 'Hannah': '6789', 'laura': 12545}

In [55]:
del phonebook["emma"] #deleting from a dictionary
print(phonebook)

{'Daniel': 3456, 'Hannah': 6789}

In [60]:
european_countries_GDP_rank = {}
country = input("enter the name of the country: ")
GDP_rank = int(input("enter the country's GDP rank among other european countries: "))
             
european_countries_GDP_rank [country] = GDP_rank

enter the name of the country:  Germany
enter the country's GDP rank among other european countries:  1

In [61]:
print(european_countries_GDP_rank)

{'Germany': 1}

In [93]:
Seasons = "Spring Summer Fall Winter"
Seasons = Seasons.split(" ") 
print(Seasons)
type(Seasons)

['Spring', 'Summer', 'Fall', 'Winter']

list

In [106]:
Seasons = "Spring SummerFallWinter"
Seasons = Seasons.split(" ") 
print(Seasons)

['Spring', 'SummerFallWinter']

In [67]:
dividing = list("dividetheseletters")
print(dividing)

['d', 'i', 'v', 'i', 'd', 'e', 't', 'h', 'e', 's', 'e', 'l', 'e', 't', 't', 'e', 'r', 's']

In [68]:
dividing1 = list("452118569842")
print(dividing1)

['4', '5', '2', '1', '1', '8', '5', '6', '9', '8', '4', '2']

In [108]:
bringtog = " ".join(dividing)
print(bringtog)

d i v i d e t h e s e l e t t e r s

In [110]:
colors = ["Red", "Green", "Blue"]
col = "".join(colors)
print(col)
type(col)

RedGreenBlue

str

In [111]:
str(colors)

"['Red', 'Green', 'Blue']"